<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/portifolio.css') }}">
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="{{ url_for('index') }}">Home</a>
            <a class="cabecalho__menu__link" href="{{ url_for('about') }}">Sobre mim</a>
            <a class="cabecalho__menu__link" href="{{ url_for('portifolio') }}">Portifólio do Kitsu</a>
            <a class="cabecalho__menu__link" href="{{ url_for('editor') }}">Editor</a>
        </nav>
    </header>
    <main class="red">
        <section class="blue">
            <h1 class="brown">
                Alguns dos meus  
                <strong>Projetos.</strong>
            </h1>
            <p class="yellow">Olá! Sou o Kitsu, e aqui exibo alguns de meus trabalhos em <strong>Wordpress, React, HTML e CSS</strong>. Vamos conversar?</p>
            <p class="roxo">A vida é a busca por aprender à ensinar: Ensinar à ser feliz.</p>
            <div class="black">
                <h2 class="subtitulo">Alguns de meus Projetos!</h2>  

                <!-- Adicionando o botão para o projeto to-do-->
                <a class="ocean" href="{{ url_for('todo') }}"> <img src="{{ url_for('static', filename='assets/todo.png') }}" class="foto" alt="todo"> Projeto To-Do</a>      
                <a class="ocean" href="https://nexumsite.com"> <img src="{{ url_for('static', filename='assets/nexumsite.png') }}" class="foto" alt="Nexum Site"> Nexum Site</a>           
                <a class="ocean" href="https://makenexum.com"> <img src="{{ url_for('static', filename='assets/makenexum.png') }}" class="foto" alt="Make Nexum"> Make Nexum</a> 
                <a class="ocean" href="https://trevosolucoescosmeticas.com"> <img src="{{ url_for('static', filename='assets/trevo.png') }}" class="trevo" alt="Trevo"> Trevo</a> 
                <a class="ocean" href="https://benaturalingredientes.com"> <img src="{{ url_for('static', filename='assets/benatural.png') }}" class="foto" alt="BeNatural"> BeNatural</a> 
                <a class="ocean" href="https://dradaniaramadan.com.br"> <img src="{{ url_for('static', filename='assets/dradaniaramadan.png') }}" class="foto" alt="Odontológico"> Odontológico</a>
            </div>
        </section>
        <img width="450px" height="400px" src="{{ url_for('static', filename='assets/Imagem.png') }}" alt="Foto da Joana Santos programando">
    </main>
    <footer class="rodape">
        <p>Desenvolvido por Kitsu.</p>
    </footer>
</body>
</html>
